.header-container {
  border-bottom: 1px solid #999;
  padding: 4px;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
  .title {
    font-size: 30px;
    display: inline-block;
    bottom: 20px;
    position: relative;
    margin-left: 14px;
    padding: 10px 14px;
    border-left: 1px solid #999;
  }
}

