.header-container {
  border-bottom: 1px solid #999;
  margin: 2px;
  .title {
    font-size: 30px;
    display: inline-block;
    bottom: 20px;
    position: relative;
    margin-left: 14px;
    padding-left: 14px;
    border-left: 1px solid #999;
  }
}

