.view-container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  border-top: 1px solid #999;
  margin-top: 10px;
  .lighten {
    font-size: 14px;
    color: #555;
  }
  .right-align {
    float: right;
  }
  .img-post {
    width: 30vw;
    margin: auto;
  }
  .favorite {
    color: red;
  }
  .post-controls {
    border-bottom: 1px solid #999;
    padding-bottom: 10px;
    .align-text {
      display: inline-block;
      vertical-align: super;
      font-size: 14px;
      color: #555;
      cursor: default;
    }
    span {
      cursor: pointer;
      margin-right: 10px;
    }
  }
  .center-btn {
    margin: 10px auto;
  }
}
