<section class="list-tile">
  <ng-container *ngIf="users && users.length; else noUsers">
    <div *ngFor="let user of users" class="tile">
      <div class="profile-icon">
        <span class="material-icons">
          person
        </span>
      </div>
      <p>{{user.name | titlecase}}</p>
      <button mat-button *ngIf="!isFriends" class="btn" (click)="addFreindHandler(user.id)">Add Friend</button>
      <button mat-button *ngIf="isFriends" class="btn" (click)="removeFreindHandler(user.friendId)">Unfriend</button>
    </div>
  </ng-container>
  <ng-template #noUsers>
    {{isFriends ? 'No friends found' : 'No suggesstions'}}
  </ng-template>
</section>
