.list-tile {
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
  .tile {
    display: flex;
    align-items: center;
    width: 100%;
    .text-span {
      margin-left: 10px;
    }
    .btn {
      margin-left: auto;
    }
    .profile-icon {
      text-align: left;
      span {
        border: 1px solid #999;
        border-radius: 20px;
        font-size: 40px;
        color: #3fb291;
      }
    }
  }

}
