.list-tile {
  display: flex;
  flex-wrap: wrap;
  .tile {
    border: 1px solid #999;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    padding: 7px;
    margin: 7px;
    .profile-icon {
      text-align: center;
      span {
        border: 1px solid #999;
        border-radius: 20px;
        font-size: 40px;
      }
    }
  }

}
