.app-container {
  display: flex;
  .left-nav {
    width: 15em;
  }
  .center {
    padding: 10px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
  }
  .right-nav {
  }
}
.footer {
  position: absolute;
  left: calc(100vw - 265px);
}
