<div class="posts-container">
  <mat-form-field class="input-field">
    <mat-label>What's on your mind?</mat-label>
    <input matInput class="" [(ngModel)]="description">
    <mat-error *ngIf="">
      <!-- {{serializedErrors?.videoLink}} -->
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input-field">
    <mat-label>Add Image / Video URL</mat-label>
    <input matInput class="" [(ngModel)]="mediaFile">
    <mat-error *ngIf="">
      <!-- {{serializedErrors?.videoLink}} -->
    </mat-error>
  </mat-form-field>
  <!-- <input type="file" name="files" id="inputFile"  [(ngModel)]="file" /> -->

  <img *ngIf="checkURL(mediaFile) === 'img'" [src]="mediaFile" alt="post-media" class="img-post">
  <video *ngIf="checkURL(mediaFile) === 'video'" width="320" height="240" controls>
    <source [src]="mediaFile" type="video/mp4" class="video-source">
  </video>
  <!-- <input type="submit" value="Submit" /> -->
  <button mat-button class="btn btn-post" (click)="postHandler()">Post</button>
</div>
